<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_hospital_root" name="Hospital" web_icon="om_hospital,static/description/hospital.png" sequence="0">
        <menuitem id="menu_patient_master" name="Patient Details" sequence="10"/>
        <menuitem id="menu_appointment_master" name="Appointments" sequence="20">
            <menuitem id="menu_cancel_appointment" name="Cancellation" action="action_cancel_appointment" sequence="20"/>
        </menuitem>
        <menuitem id="menu_configuration" name="Configuration" sequence="100"/>
    </menuitem>
</odoo>
